DDL_Backup.json
{"flowContents":{"identifier":"c350f08a-1fd8-3306-87be-eb52c476b6fd","instanceIdentifier":"b4ef3844-a676-1fdf-282e-5957a6e37d2d","name":"DDL Backup","comments":"","position":{"x":-1502.1101019380146,"y":-1384.8744388843284},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d1ec2c7b-f663-35c3-be55-490563801e6c","instanceIdentifier":"b4ef3842-a676-1fdf-91c6-cc39adba8502","name":"PublishSlack to Reports","comments":"","position":{"x":-1167.0,"y":143.0},"type":"org.apache.nifi.processors.slack.PublishSlack","bundle":{"group":"org.apache.nifi","artifact":"nifi-slack-nar","version":"2024.11.06-1"},"properties":{"Max FlowFile Size":"20 MB","Thread Timestamp":"${theadTs:isNull():ifElse(${ts},${threadTs})}","Publish Strategy":"Use 'Message Text' Property","Channel":"#reports","Message Text":"--- From Snowflake Database DEMO Backup --- ${date} --- \n","Character Set":"UTF-8","Include FlowFile Content as Attachment":"true"},"propertyDescriptors":{"Max FlowFile Size":{"name":"Max FlowFile Size","displayName":"Max FlowFile Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Thread Timestamp":{"name":"Thread Timestamp","displayName":"Thread Timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Channel":{"name":"Channel","displayName":"Channel","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Token":{"name":"Access Token","displayName":"Access Token","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Message Text":{"name":"Message Text","displayName":"Message Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include FlowFile Content as Attachment":{"name":"Include FlowFile Content as Attachment","displayName":"Include FlowFile Content as Attachment","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"3 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c350f08a-1fd8-3306-87be-eb52c476b6fd"},{"identifier":"4a7fd488-c5b8-3e6e-bee8-019384cb0ac2","instanceIdentifier":"b4ef3830-a676-1fdf-aa61-6786dabe7de0","name":"ChunkText","comments":"","position":{"x":-1160.0,"y":-56.0},"type":"io.datavolo.runtime.processors.chunking.ChunkText","bundle":{"group":"io.datavolo.runtime","artifact":"runtime-chunking-nar","version":"2024.11.06-1"},"properties":{"Chunk Delimiters":";","Language":"English","Max Chunk Length":"4000","Trim Whitespace":"true","Sentence Similarity Threshold":"0.6","Chunking Strategy":"RECURSIVE_DELIMITERS"},"propertyDescriptors":{"Chunk Delimiters":{"name":"Chunk Delimiters","displayName":"Chunk Delimiters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Language":{"name":"Language","displayName":"Language","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Chunk Length":{"name":"Max Chunk Length","displayName":"Max Chunk Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Whitespace":{"name":"Trim Whitespace","displayName":"Trim Whitespace","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sentence Similarity Threshold":{"name":"Sentence Similarity Threshold","displayName":"Sentence Similarity Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Chunking Strategy":{"name":"Chunking Strategy","displayName":"Chunking Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"25 ms","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c350f08a-1fd8-3306-87be-eb52c476b6fd"},{"identifier":"c7cb8c4e-ac9d-3a68-8b1d-557a0a45afaa","instanceIdentifier":"b4ef3838-a676-1fdf-c47a-d6cdbd4fc68e","name":"Build New Text","comments":"","position":{"x":-1160.0,"y":-288.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2024.11.06-1"},"properties":{"Regular Expression":"(?s:^.*$)","Replacement Value":"${sql}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c350f08a-1fd8-3306-87be-eb52c476b6fd"},{"identifier":"6ebe079b-6d4e-3292-80f9-ad6cf3732a38","instanceIdentifier":"b4ef3826-a676-1fdf-7e3a-3e83a0e3af45","name":"SplitRecord","comments":"","position":{"x":-1160.0,"y":-728.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2024.11.06-1"},"properties":{"Record Writer":"481ccc9e-1251-3ff6-88f6-dce72778c942","Record Reader":"5e9f8cfa-432b-3524-99dc-7ce1ee7e0114","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c350f08a-1fd8-3306-87be-eb52c476b6fd"},{"identifier":"a95a11d5-91be-38e4-ba64-5b6bff8ebf18","instanceIdentifier":"b4ef382b-a676-1fdf-867f-c9fe489f6a28","name":"Extract SQL","comments":"","position":{"x":-1152.0,"y":-520.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2024.11.06-1"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","sql":"$.FIELDS"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql":{"name":"sql","displayName":"sql","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c350f08a-1fd8-3306-87be-eb52c476b6fd"},{"identifier":"b9731bc0-1e38-3119-b4e0-5da2fbb3c8b3","instanceIdentifier":"b4ef3820-a676-1fdf-020c-4e468cddd51b","name":"Get DDL for Database","comments":"","position":{"x":-1152.0,"y":-928.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2024.11.06-1"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"481ccc9e-1251-3ff6-88f6-dce72778c942","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"cd06b30e-dc8b-3a37-ab3b-63aeed9542aa","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT GET_DDL('DATABASE',  'DEMO') as FIELDS;","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c350f08a-1fd8-3306-87be-eb52c476b6fd"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"aa5c2f9d-21f0-31aa-b7f9-fe90558180c6","instanceIdentifier":"b4ef3828-a676-1fdf-8566-60b5f90a0e97","name":"","source":{"id":"6ebe079b-6d4e-3292-80f9-ad6cf3732a38","type":"PROCESSOR","groupId":"c350f08a-1fd8-3306-87be-eb52c476b6fd","name":"SplitRecord","comments":"","instanceIdentifier":"b4ef3826-a676-1fdf-7e3a-3e83a0e3af45"},"destination":{"id":"a95a11d5-91be-38e4-ba64-5b6bff8ebf18","type":"PROCESSOR","groupId":"c350f08a-1fd8-3306-87be-eb52c476b6fd","name":"Extract SQL","comments":"","instanceIdentifier":"b4ef382b-a676-1fdf-867f-c9fe489f6a28"},"labelIndex":0,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c350f08a-1fd8-3306-87be-eb52c476b6fd"},{"identifier":"0616a775-1a7d-375d-be3a-e8340fd27975","instanceIdentifier":"b4ef3822-a676-1fdf-abf8-fc4618168ddc","name":"","source":{"id":"b9731bc0-1e38-3119-b4e0-5da2fbb3c8b3","type":"PROCESSOR","groupId":"c350f08a-1fd8-3306-87be-eb52c476b6fd","name":"Get DDL for Database","comments":"","instanceIdentifier":"b4ef3820-a676-1fdf-020c-4e468cddd51b"},"destination":{"id":"6ebe079b-6d4e-3292-80f9-ad6cf3732a38","type":"PROCESSOR","groupId":"c350f08a-1fd8-3306-87be-eb52c476b6fd","name":"SplitRecord","comments":"","instanceIdentifier":"b4ef3826-a676-1fdf-7e3a-3e83a0e3af45"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c350f08a-1fd8-3306-87be-eb52c476b6fd"},{"identifier":"f70fd9c0-1aba-38bb-8729-137f5c0e716c","instanceIdentifier":"b4ef3843-a676-1fdf-ec9f-e2918a199e48","name":"","source":{"id":"d1ec2c7b-f663-35c3-be55-490563801e6c","type":"PROCESSOR","groupId":"c350f08a-1fd8-3306-87be-eb52c476b6fd","name":"PublishSlack to Reports","comments":"","instanceIdentifier":"b4ef3842-a676-1fdf-91c6-cc39adba8502"},"destination":{"id":"bb69ca8a-c73c-3f41-bfe7-d6b92f2813de","type":"FUNNEL","groupId":"c350f08a-1fd8-3306-87be-eb52c476b6fd","name":"Funnel","comments":"","instanceIdentifier":"b4ef3821-a676-1fdf-8caf-e96eae749faa"},"labelIndex":0,"zIndex":0,"selectedRelationships":["rate limited","failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c350f08a-1fd8-3306-87be-eb52c476b6fd"},{"identifier":"19eedc80-55d1-30a2-9dc3-2b5080436c1c","instanceIdentifier":"b4ef3827-a676-1fdf-b65d-2aea35c7c74c","name":"","source":{"id":"6ebe079b-6d4e-3292-80f9-ad6cf3732a38","type":"PROCESSOR","groupId":"c350f08a-1fd8-3306-87be-eb52c476b6fd","name":"SplitRecord","comments":"","instanceIdentifier":"b4ef3826-a676-1fdf-7e3a-3e83a0e3af45"},"destination":{"id":"1353bde2-5837-3663-9cd4-6a78bcce9a59","type":"FUNNEL","groupId":"c350f08a-1fd8-3306-87be-eb52c476b6fd","name":"Funnel","comments":"","instanceIdentifier":"b4ef3823-a676-1fdf-103f-ede2144712db"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c350f08a-1fd8-3306-87be-eb52c476b6fd"},{"identifier":"2d053384-ea92-3bf5-b7f8-0afaf1e7c820","instanceIdentifier":"b4ef382d-a676-1fdf-bc54-3e71562a75fd","name":"","source":{"id":"a95a11d5-91be-38e4-ba64-5b6bff8ebf18","type":"PROCESSOR","groupId":"c350f08a-1fd8-3306-87be-eb52c476b6fd","name":"Extract SQL","comments":"","instanceIdentifier":"b4ef382b-a676-1fdf-867f-c9fe489f6a28"},"destination":{"id":"1353bde2-5837-3663-9cd4-6a78bcce9a59","type":"FUNNEL","groupId":"c350f08a-1fd8-3306-87be-eb52c476b6fd","name":"Funnel","comments":"","instanceIdentifier":"b4ef3823-a676-1fdf-103f-ede2144712db"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c350f08a-1fd8-3306-87be-eb52c476b6fd"},{"identifier":"8a702c79-519a-3765-94fa-8ac643726a38","instanceIdentifier":"b4ef3833-a676-1fdf-3ee8-1f3e0a3776d1","name":"","source":{"id":"4a7fd488-c5b8-3e6e-bee8-019384cb0ac2","type":"PROCESSOR","groupId":"c350f08a-1fd8-3306-87be-eb52c476b6fd","name":"ChunkText","comments":"","instanceIdentifier":"b4ef3830-a676-1fdf-aa61-6786dabe7de0"},"destination":{"id":"01754eaf-0d71-3a9c-8603-e0db0a1b1a6b","type":"FUNNEL","groupId":"c350f08a-1fd8-3306-87be-eb52c476b6fd","name":"Funnel","comments":"","instanceIdentifier":"b4ef3832-a676-1fdf-3a78-a20f7e6f7983"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c350f08a-1fd8-3306-87be-eb52c476b6fd"},{"identifier":"5915c448-153f-30ed-998f-9855eb0c21a6","instanceIdentifier":"b4ef3824-a676-1fdf-5175-a300336498bf","name":"","source":{"id":"b9731bc0-1e38-3119-b4e0-5da2fbb3c8b3","type":"PROCESSOR","groupId":"c350f08a-1fd8-3306-87be-eb52c476b6fd","name":"Get DDL for Database","comments":"","instanceIdentifier":"b4ef3820-a676-1fdf-020c-4e468cddd51b"},"destination":{"id":"1353bde2-5837-3663-9cd4-6a78bcce9a59","type":"FUNNEL","groupId":"c350f08a-1fd8-3306-87be-eb52c476b6fd","name":"Funnel","comments":"","instanceIdentifier":"b4ef3823-a676-1fdf-103f-ede2144712db"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c350f08a-1fd8-3306-87be-eb52c476b6fd"},{"identifier":"3dc652a4-6649-3be5-8125-5d63b36fd057","instanceIdentifier":"b4ef3839-a676-1fdf-e4d4-c558c8b3ef24","name":"","source":{"id":"c7cb8c4e-ac9d-3a68-8b1d-557a0a45afaa","type":"PROCESSOR","groupId":"c350f08a-1fd8-3306-87be-eb52c476b6fd","name":"Build New Text","comments":"","instanceIdentifier":"b4ef3838-a676-1fdf-c47a-d6cdbd4fc68e"},"destination":{"id":"4a7fd488-c5b8-3e6e-bee8-019384cb0ac2","type":"PROCESSOR","groupId":"c350f08a-1fd8-3306-87be-eb52c476b6fd","name":"ChunkText","comments":"","instanceIdentifier":"b4ef3830-a676-1fdf-aa61-6786dabe7de0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c350f08a-1fd8-3306-87be-eb52c476b6fd"},{"identifier":"1a147472-18b1-3fc3-aec8-5e89175cca65","instanceIdentifier":"b4ef382c-a676-1fdf-3747-aacccce0cb36","name":"","source":{"id":"a95a11d5-91be-38e4-ba64-5b6bff8ebf18","type":"PROCESSOR","groupId":"c350f08a-1fd8-3306-87be-eb52c476b6fd","name":"Extract SQL","comments":"","instanceIdentifier":"b4ef382b-a676-1fdf-867f-c9fe489f6a28"},"destination":{"id":"c7cb8c4e-ac9d-3a68-8b1d-557a0a45afaa","type":"PROCESSOR","groupId":"c350f08a-1fd8-3306-87be-eb52c476b6fd","name":"Build New Text","comments":"","instanceIdentifier":"b4ef3838-a676-1fdf-c47a-d6cdbd4fc68e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c350f08a-1fd8-3306-87be-eb52c476b6fd"},{"identifier":"22b25748-65fa-3303-ac1e-712fc602d8bd","instanceIdentifier":"b4ef383a-a676-1fdf-9b11-8ed8627ddf0e","name":"","source":{"id":"c7cb8c4e-ac9d-3a68-8b1d-557a0a45afaa","type":"PROCESSOR","groupId":"c350f08a-1fd8-3306-87be-eb52c476b6fd","name":"Build New Text","comments":"","instanceIdentifier":"b4ef3838-a676-1fdf-c47a-d6cdbd4fc68e"},"destination":{"id":"1353bde2-5837-3663-9cd4-6a78bcce9a59","type":"FUNNEL","groupId":"c350f08a-1fd8-3306-87be-eb52c476b6fd","name":"Funnel","comments":"","instanceIdentifier":"b4ef3823-a676-1fdf-103f-ede2144712db"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c350f08a-1fd8-3306-87be-eb52c476b6fd"},{"identifier":"c997dfa9-d522-3175-9dd3-3b991ff56872","instanceIdentifier":"b4ef3831-a676-1fdf-00f6-234451bfe141","name":"","source":{"id":"4a7fd488-c5b8-3e6e-bee8-019384cb0ac2","type":"PROCESSOR","groupId":"c350f08a-1fd8-3306-87be-eb52c476b6fd","name":"ChunkText","comments":"","instanceIdentifier":"b4ef3830-a676-1fdf-aa61-6786dabe7de0"},"destination":{"id":"d1ec2c7b-f663-35c3-be55-490563801e6c","type":"PROCESSOR","groupId":"c350f08a-1fd8-3306-87be-eb52c476b6fd","name":"PublishSlack to Reports","comments":"","instanceIdentifier":"b4ef3842-a676-1fdf-91c6-cc39adba8502"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c350f08a-1fd8-3306-87be-eb52c476b6fd"}],"labels":[],"funnels":[{"identifier":"01754eaf-0d71-3a9c-8603-e0db0a1b1a6b","instanceIdentifier":"b4ef3832-a676-1fdf-3a78-a20f7e6f7983","position":{"x":-1464.0,"y":-8.0},"componentType":"FUNNEL","groupIdentifier":"c350f08a-1fd8-3306-87be-eb52c476b6fd"},{"identifier":"1353bde2-5837-3663-9cd4-6a78bcce9a59","instanceIdentifier":"b4ef3823-a676-1fdf-103f-ede2144712db","position":{"x":-1664.0,"y":-672.0},"componentType":"FUNNEL","groupIdentifier":"c350f08a-1fd8-3306-87be-eb52c476b6fd"},{"identifier":"bb69ca8a-c73c-3f41-bfe7-d6b92f2813de","instanceIdentifier":"b4ef3821-a676-1fdf-8caf-e96eae749faa","position":{"x":-1527.0,"y":151.0},"componentType":"FUNNEL","groupIdentifier":"c350f08a-1fd8-3306-87be-eb52c476b6fd"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":100000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"cd06b30e-dc8b-3a37-ab3b-63aeed9542aa":{"identifier":"cd06b30e-dc8b-3a37-ab3b-63aeed9542aa","name":"SnowflakeConnectionServiceTSPANN"},"481ccc9e-1251-3ff6-88f6-dce72778c942":{"identifier":"481ccc9e-1251-3ff6-88f6-dce72778c942","name":"Standard Inherit JsonRecordSetWriter"},"5e9f8cfa-432b-3524-99dc-7ce1ee7e0114":{"identifier":"5e9f8cfa-432b-3524-99dc-7ce1ee7e0114","name":"JsonTreeReader"}},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}